body {
    margin: auto;
}

.container {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    width: 600px;
    height: 300px;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    border: 4px solid black;
    border-radius: 4px;
    background: #047857;
}
/* --- Reset Elements --- */
#reset--card{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 14px;
    /* border: 1px solid white; */
}
#reset--btn{
    margin: 0px;
    padding: 10px 15px;
    letter-spacing: 1px;
    font-weight: bold;
    background:  #0EA5E9;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none
}
#reset--btn:hover{
    background: #7DD3FC;
}
/* --- Home Elements --- */
#home--card{
    width: 200px;
}
#home--title{
    background: #0284C7;
    color: #fff;
    margin: 15px 0px;
    padding: none;
    border: 2px white solid;
    font-size: 35px;
}
#home--score{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: black;
    color: #fff;
    font-size: 50px;
    border-radius: 5px;
    margin: 0px;
}
#home--btns{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#home--btn1,#home--btn2,#home--btn3{
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px 15px;
}
#home--btn1:hover,#home--btn2:hover,#home--btn3:hover{
    cursor: pointer;
}

/* -----  Guest Elements ----- */
#guest--card{
    width: 200px;
    padding: 0px;
}
#guest--title{
    background: #0284C7;
    color: #fff;
    margin: 15px 0px;
    padding: none;
    border: 2px white solid;
    font-size: 35px
}
#guest--score{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: black;
    color: #fff;
    font-size: 50px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}
#guest--btns{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
#guest--btn1,#guest--btn2,#guest--btn3{
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 10px 15px;
}
#guest--btn1:hover,#guest--btn2:hover,#guest--btn3:hover{
    cursor: pointer;
}

/* Media Queries */
/* @media screen and (max-width: 600px) {
  body {
    background-color: olive;
  }
  #home--title{
      color: lightcoral;
  }
} */